GENE_ID = ime2
PROJECT_TITLE = Ime2

SEQUENCES = ime2.fasta

RAXML = raxml -T 2
PHYML = phyml
LAZARUS = python /common/lazarus/lazarus.py 
MARKOV_MODEL_FOLDER = /common/lazarus/paml/dat/

# How should we invoke MPI dispatching?
# Note: the use of MPI enables multiprocessor parallelism, such that
# mutliple trees can be analyzed in parallel on multiple compute core.
USE_MPI False

# In what directories should I expect to find multiple sequence alignments? 
ALIGNMENT_ALGORITHMS = msaprobs muscle

MSAPROBS = msaprobs
MUSCLE = muscle

MODELS_RAXML = PROTGAMMALG PROTGAMMAWAG PROTCATLG PROTCATWAG

START_MOTIF = YQLI
END_MOTIF = MPFF
SEED_MOTIF_TAXA = Saccharomyces.cerevisiae.IME2

N_BAYES_SAMPLES = 1000

OUTGROUP = "[Yarrowia.lipolytica.IME2]"

ANCESTORS = AncKLSC AncSKCTG
INGROUP AncKLSC [Saccharomyces.cerevisiae.IME2,Kluyveromyces.waltii.IME2]
INGROUP AncSKCTG [Saccharomyces.cerevisiae.IME2,Candida.albicans.IME2]

SEED AncKLSC Saccharomyces.cerevisiae.IME2
SEED AncSKCTG Saccharomyces.cerevisiae.IME2

COMPARE AncKLSC AncSKCTG

