GENE_ID = ime2
PROJECT_TITLE = Ime2

SEQUENCES = ime2.fasta

RAXML = raxml -T 2
PHYML = phyml
LAZARUS = python /common/lazarus/lazarus.py 
MARKOV_MODEL_FOLDER = /common/lazarus/paml/dat/
ANCCOMP = python ~/Documents/SourceCode/anccomp/compare_ancs.py

FASTTREE = FastTree

THRESHOLDS_ZORRO = 0.01 0.05 0.1

USE_MPI = False

# This is how the O.S. should launch shell scripts:
RUN = sh

# In what directories should I expect to find multiple sequence alignments? 
ALIGNMENT_ALGORITHMS = muscle

MSAPROBS = msaprobs
MUSCLE = muscle
MAFFT = mafft
ZORRO = zorro

MODELS_RAXML = PROTGAMMALG PROTGAMMAWAG
N_BAYES_SAMPLES = 10
OUTGROUP = [Yarrowia.lipolytica.IME2]
